/bazel-*
/build/
/build-artifacts/
/build-artifacts-bazel/
/build-artifacts-cmake/
/configured.bazelrc
/compile_commands.json
/MODULE.bazel.lock
.vscode
*__pycache__*
/examples/**/dump/
/.pytest_cache
